{{ partial "header" . }}
{{ partial "logo" . }}

<a href="{{ .Permalink }}">
  <div class="post-title">
    <img src="{{ "/images/post-title-icon.png" | relURL }}" />
    <div class="post-meta">
      <time>#categories</time>
      <h1>CATEGORIES</h1>
    </div>
  </div>
</a>

<div class="categories">
  <ul>
    {{ $baseurl := .Site.BaseURL }}
    {{ $data := .Data }}
	{{ $site := .Site }}
    {{ range $key,$value := .Data.Terms.Alphabetical }}
    <li>
      <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
        <i class="fa fa-angle-right icon" aria-hidden="true"></i>
        {{ humanize $value.Name }}
        <div class="count">{{ $value.Count }} posts</div>
      </a>
    </li>
	<div class="subcategories">
	  {{ $list := ( index $site.Data.subclist $value.Name ) }}
	  <ul>
	  {{ range $key, $value := $site.Taxonomies.subcategories.Alphabetical }}
	  {{ if in $list $value.Name }}
		<li>
		  <a href="{{ $baseurl }}subcategories/{{ $value.Name | urlize }}">
			<i class="fa fa-angle-right icon" aria-hidden="true"></i>
			{{ humanize $value.Name }}
			<div class="count">{{ $value.Count }} posts</div>
		  </a>
		</li>
	  {{ end }}
	  {{ end }}
	  </ul>
	</div>
    {{ end }}
  </ul>  
</div>

{{ partial "footer" . }}
