{{ partial "header.html" . }}

{{ if eq .Title "About Me" }}
	{{ partial "logo" . }}
	{{ partial "about" . }}
{{ else }}
  {{ partial "logo-post" . }}
	{{ partial "post" . }}
{{ end }}

{{ if ne .Title "About Me" }}
<div class="paging post-paging">
  {{ if ne .Params.prevp "" }}
  {{ range where .Site.RegularPages "Title" "eq" (.Params.prevp | title) }}
  <a class="left" href="{{ .Permalink }}" rel="prev">
    <i class="fa fa-play fa-rotate-180" aria-hidden="true"></i> <span>{{ .Title }}</span>
  </a>
  {{ end }}
  {{ end }}
  {{ if ne .Params.nextp "" }}
  {{ range where .Site.RegularPages "Title" "eq" (.Params.nextp | title) }}
  <a class="right" href="{{ .Permalink }}" rel="next">
    <span>{{ .Title }}</span> <i class="fa fa-play" aria-hidden="true"></i>
  </a>
  {{ end }}
  {{ end }}
</div>
{{ partial "disqus" . }}
{{ partial "post-meta" . }}
{{ end }}

{{ partial "footer.html" . }}