{{ partial "header.html" . }}

{{ if eq .Title "About Me" }}
	{{ partial "logo" . }}
	{{ partial "about" . }}
{{ else }}
  {{ partial "logo-post" . }}
	{{ partial "post" . }}
{{ end }}

{{ if ne .Title "About Me" }}
<div class="donaricano">
  <a href="https://donaricano.com/mypage/1709725536_JvgCKV" target="_blank">
    <img
     src="https://d1u4yishnma8v5.cloudfront.net/donarincano_gift.png"
     alt="donaricano-btn"
     style="height:70px !important;width: 200px !important;"
     />
   </a>
</div>
<div class="paging post-paging">
  {{ if ne .Params.prevp "" }}
  {{ range where .Site.RegularPages "Title" "eq" .Params.prevp }}
  <a class="left" href="{{ .Permalink }}" rel="prev">
    <i class="fa fa-play fa-rotate-180" aria-hidden="true"></i> <span>{{ .Title }}</span>
  </a>
  {{ end }}
  {{ end }}
  {{ if ne .Params.nextp "" }}
  {{ range where .Site.RegularPages "Title" "eq" .Params.nextp }}
  <a class="right" href="{{ .Permalink }}" rel="next">
    <span>{{ .Title }}</span> <i class="fa fa-play" aria-hidden="true"></i>
  </a>
  {{ end }}
  {{ end }}
</div>
{{ partial "disqus" . }}
{{ partial "post-meta" . }}
{{ end }}

{{ partial "footer.html" . }}