<!DOCTYPE html>
<html>

<head>
  {{ if .Site.GoogleAnalytics }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', '{{ .Site.GoogleAnalytics }}');
  </script>
  {{ end }}

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="{{ "/images/logo-light.png" | relURL }}">
  <title>{{ .Title }} {{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}</title>
  <link rel="icon" href="{{ "/favicon.ico" | relURL }}" type="image/x-icon">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
  {{ end }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
  <link rel="stylesheet" href="{{ "/css/styles.css" | relURL }}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{ partial "mathjax-header" . }}
  {{ partial "gist-header" . }}
</head>

<body>
<div class="wrap">
  <div class="navbar">
    <ul>
      <li><a href="{{ "/" | relURL }}">HELLO WORLD!</a></li>
      <li><a href="{{ "/categories" | relURL }}">CATEGORIES</a></li>
      <li><a href="{{ "/tags" | relURL }}">TAGS</a></li>
      <li><a href="{{ "/about" | relURL }}">ABOUT ME</a></li>
    </ul>
  </div>
  <div class="container">
